.browserupgrade {
  margin: 0.2em 0;
  background: #ffffff;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #f7f8f9 url("../images/main_bg.svg") no-repeat center top 650px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

.g-top {
  display: block;
  position: relative;
  min-height: 1030px;
  padding: 20px 0 300px 0;
  background: url("../images/top_bg_alt.png") no-repeat center bottom;
  background-size: cover;
  &__title {
    display: block;
    max-width: 745px;
    margin: 54px 0 17px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #374a4d;
  }
  &__text {
    display: block;
    max-width: 535px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #374a4d;
  }
  &__button {
    display: inline-block;
    margin: 32px 0 0 0;
    padding: 24px 37px;
    background: #009eb4;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #53f1d5;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.g-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 8px 53px -24px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  &__toggle {
    display: none;
  }
  &__call {
    display: none;
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  }
  &__logo {
    display: block;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 115px;
    }
    &-text {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 6px;
      font-weight: 400;
      line-height: 1.2;
      color: #009eb4;
    }
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        position: relative;
        margin: 0 30px 0 0;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #374a4d;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #009eb4;
          text-decoration: none;
        }
      }
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 14px 22px;
    background: #009eb4;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #53f1d5;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__phone {
    display: inline-block;
    margin: 0 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    color: #374a4d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009eb4;
      text-decoration: none;
    }
  }
}

.g-what {
  display: block;
  position: relative;
  margin-top: -185px;
  padding: 0 0 60px 0;
  pointer-events: none;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
  }
  p {
    display: block;
    max-width: 500px;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #374a4d;
  }
  &_small {
    max-width: 500px;
    margin-left: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #374a4d;
  }
}

.g-features {
  display: block;
  position: relative;
  padding: 60px 0 70px 0;
  &__title {
    display: block;
    margin: 0 0 58px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 210px;
    margin: 0 auto 30px auto;
    padding: 10px 50px;
    background: #ffffff;
    box-shadow: 0px 8px 53px -24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 110px;
      img,
      svg {
        display: block;
        max-width: 65px;
        max-height: 65px;
      }
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #374a4d;
    }
  }
}

.g-recommend {
  display: block;
  position: relative;
  padding: 70px 0 25px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 52px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
  }
  &-card {
    display: block;
    position: relative;
    margin: 0 0 70px 0;
    &__image {
      display: block;
      max-width: 36px;
      max-height: 36px;
      margin-bottom: 26px;
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #374a4d;
    }
  }
}

.g-qa {
  display: block;
  position: relative;
  width: 100%;
  padding: 25px 0 30px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 58px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 240px;
    margin: 0 auto 30px auto;
    padding: 45px 43px 20px 43px;
    background: #ffffff;
    box-shadow: 0px 8px 53px -24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    &__title {
      display: block;
      margin: 0 0 20px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: #009eb4;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #374a4d;
    }
    &__info {
      display: block;
      margin: 14px 0 0 0;
      padding-left: 45px;
      background: url("../images/icon_info.png") no-repeat 0 center;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #374a4d;
    }
  }
}

.g-form {
  display: block;
  position: relative;
  min-height: 665px;
  padding: 80px 0;
  background: url("../images/form_bg.png") no-repeat left calc(50vw - 150px) top 0;
  background-size: auto 100%;
  transform: translateZ(-1px);
  &__title {
    display: block;
    margin: 0 0 32px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
  }
  &__text {
    display: block;
    margin: 0 0 24px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #374a4d;
  }
  input {
    display: block;
    width: 100%;
    max-width: 470px;
    margin: 0 0 20px 0;
    padding: 22px 26px;
    background: #ffffff;
    border: 1px solid #b6cacd;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #374a4d;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 24px;
    border: 0;
    outline: none;
    background: #009eb4;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #53f1d5;
      color: #ffffff;
      text-decoration: none;
    }
  }
  ::placeholder {
    color: #b6cacd;
  }
  &__info {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #374a4d;
  }
}

.g-doctors {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 78px 0 70px 0;
  &__title {
    display: block;
    margin: 0 0 33px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
  }
  &__text {
    display: block;
    margin: 0 0 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #374a4d;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 30px;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 480px;
    margin: 0 auto;
    padding: 50px 25px 25px 25px;
    background: #ffffff;
    box-shadow: 0px 0px 30px -24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    &__image {
      display: block;
      position: relative;
      width: 150px;
      height: 150px;
      border: 2px solid #b6cacd;
      border-radius: 999rem;
      background-size: cover;
      background-position: center center;
    }
    &__name {
      display: block;
      margin: 32px 0 16px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      color: #374a4d;
    }
    &__text {
      display: block;
      position: relative;
      height: 82px;
      overflow: hidden;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #374a4d;
    }
    &__years {
      display: block;
      margin: 19px 0 0 0;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #b6cacd;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: auto;
    top: 220px;
    width: 50px;
    height: 50px;
    border-radius: 999rem;
    background: #ffffff;
    box-shadow: 0px 4px 28px -10px rgba(0, 0, 0, 0.25);
    img,
    svg {
      display: block;
      max-width: 21px;
      max-height: 21px;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: calc((100vw - 1200px) / 2 + 80px);
  }
  .swiper-button-next {
    left: auto;
    right: calc((100vw - 1200px) / 2);
  }
}

.g-about {
  display: block;
  position: relative;
  padding: 70px 0 50px 0;
  &__title {
    display: block;
    margin: 0 0 32px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #374a4d;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 0;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0px 8px 53px -24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #ffffff;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: auto;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 999rem;
    background: #ffffff;
    box-shadow: 0px 4px 28px -10px rgba(0, 0, 0, 0.25);
    img,
    svg {
      display: block;
      max-width: 21px;
      max-height: 21px;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.g-services {
  display: block;
  position: relative;
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 250px;
    margin: 0 auto 10px auto;
    padding: 40px 45px 20px 45px;
    background: #ffffff;
    box-shadow: 0px 8px 53px -24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 60px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 30px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #374a4d;
    }
  }
}

.g-reviews {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 85px 0 35px 0;
  &__title {
    display: block;
    margin: 0 0 65px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    &__image {
      display: block;
      position: relative;
      width: 75px;
      height: 75px;
      border-radius: 999rem;
      background-size: cover;
      background-position: center center;
    }
    &__name {
      display: block;
      margin: 0 0 0 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #374a4d;
    }
    &__date {
      display: block;
      margin: 8px 0 0 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #374a4d;
    }
    &__text {
      display: block;
      height: 200px;
      overflow: hidden;
      margin: 26px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #374a4d;
    }
    &__from {
      display: block;
      position: absolute;
      top: 30px;
      right: 0;
      max-width: 90px;
      max-height: 60px;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: auto;
    top: 110px;
    width: 50px;
    height: 50px;
    border-radius: 999rem;
    background: #ffffff;
    box-shadow: 0px 4px 28px -10px rgba(0, 0, 0, 0.25);
    img,
    svg {
      display: block;
      max-width: 21px;
      max-height: 21px;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: calc((100vw - 1200px) / 2 + 80px);
  }
  .swiper-button-next {
    left: auto;
    right: calc((100vw - 1200px) / 2);
  }
}

#map {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.g-bottom {
  display: block;
  position: relative;
  padding: 140px 0 40px 0;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;
    background: linear-gradient(180deg, #f7f8f9 0%, rgba(247, 248, 249, 0.88) 12.08%, rgba(247, 248, 249, 0) 82.87%);
    pointer-events: none;
    z-index: 1;
  }
  &:after {
    display: block;
    position: absolute;
    content: "";
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(0deg, #f7f8f9 0%, rgba(247, 248, 249, 0.88) 12.08%, rgba(247, 248, 249, 0) 82.87%);
    pointer-events: none;
    z-index: 1;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 400px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #374a4d;
    pointer-events: none;
    z-index: 2;
  }
  &__block {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px 8px 53px -24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 2;
  }
  &__subtitle {
    display: block;
    margin: 0 0 13px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #009eb4;
  }
  &__info {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #374a4d;
    a {
      color: #374a4d;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #009eb4;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #374a4d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009eb4;
      text-decoration: none;
    }
  }
}

.g-footer {
  display: block;
  position: relative;
  padding: 20px 0;
  background: #374a4d;
  &__info {
    display: block;
    margin: 6px 0 14px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #b6cacd;
    a {
      color: #b6cacd;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #009eb4;
        text-decoration: none;
      }
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 38px;
      height: 38px;
      margin: 0 0 16px 16px;
      border-radius: 999rem;
      background: #009eb4;
      img,
      svg {
        display: block;
        max-width: 20px;
        max-height: 20px;
        filter: brightness(0) invert(1);
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #53f1d5;
        text-decoration: none;
      }
    }
  }
  &__text {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    border-top: 2px solid #b6cacd;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #b6cacd;
    opacity: 0.2;
  }
}

.g-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #009eb4;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    padding: 40px 20px;
  }
  &__title {
    display: block;
    margin: 0 0 13px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
    padding: 21px 26px;
    background: #ffffff;
    border: 1px solid #b6cacd;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #374a4d;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 24px;
    border: 0;
    outline: none;
    background: #374a4d;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #53f1d5;
      color: #ffffff;
      text-decoration: none;
    }
  }
  ::placeholder {
    color: #b6cacd;
  }
  &__info {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-left: 20px;
    padding-right: 20px;
  }
  .g-header {
    padding: 15px 20px 20px 20px;
  }
  .g-top__title {
    margin-top: 20px;
    font-size: 30px;
    line-height: 35px;
  }
  .g-top__text {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
  }
  .g-top__button {
    display: none;
  }
  .g-top {
    min-height: 410px;
    padding: 20px 0 70px 0;
  }
  .g-recommend__title {
    margin-bottom: 24px;
    font-size: 27px;
    line-height: 32px;
  }
  .g-modal__title {
    font-size: 27px;
    line-height: 32px;
  }
  .g-modal__text {
    font-size: 18px;
    line-height: 25px;
    br {
      display: none;
    }
  }
  .g-modal__info {
    margin: 10px 0;
    text-align: center;
  }
  .g-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .g-header__right {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .g-header__nav {
    display: none;
    text-align: center;
  }
  .g-header__nav li {
    display: block;
    width: 100%;
  }
  .g-header__nav li a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 44px 0 0 0;
  }
  .g-header__phone {
    display: none;
    margin: 45px 0 15px 0;
  }
  .g-header__button {
    display: none;
  }
  .g-header__toggle {
    display: block;
    position: absolute;
    top: 23px;
    left: 20px;
    width: 44px;
    height: 44px;
    border-radius: 999rem;
    background: #009eb4 url("../images/mob_nav.svg") no-repeat center center;
    z-index: 3;
    &_active {
      background: #009eb4 url("../images/mob_close.svg") no-repeat center center !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .g-header__call {
    display: block;
    position: absolute;
    top: 23px;
    right: 20px;
    width: 44px;
    height: 44px;
    border-radius: 999rem;
    background: #009eb4 url("../images/mob_phone.svg") no-repeat center center;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .g-what {
    margin: 0;
    padding: 0 0 70px 0;
  }
  .g-what__title {
    margin-bottom: 24px;
    font-size: 27px;
    line-height: 32px;
  }
  .g-what p {
    font-size: 16px;
    line-height: 22px;
  }
  .g-what_small {
    margin: 15px 0 0 0;
    font-size: 14px;
    line-height: 19px;
  }
  .g-features {
    padding: 0 0 55px 0;
  }
  .g-features__title {
    margin-bottom: 24px;
  }
  .g-features-card {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 116px;
    margin-bottom: 10px;
    padding: 25px;
    text-align: left;
    &__image {
      width: 80px;
      height: 60px;
    }
    &__title {
      padding-left: 10px;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
    }
  }
  .g-recommend {
    padding: 0 0 45px 0;
  }
  .g-recommend-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 20px 0;
  }
  .g-recommend-card__title {
    padding-left: 25px;
    font-size: 20px;
    line-height: 27px;
  }
  .g-qa {
    padding: 0;
  }
  .g-qa__title {
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 32px;
  }
  .g-qa-card {
    min-height: auto;
    margin-bottom: 10px;
    padding: 16px 20px;
  }
  .g-qa-card__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 23px;
  }
  .g-qa-card__text {
    font-size: 16px;
    line-height: 22px;
    br {
      display: none;
    }
  }
  .g-qa-card__info {
    padding-left: 35px;
    font-size: 14px;
    line-height: 19px;
    br {
      display: none;
    }
  }
  .g-form {
    min-height: auto;
    padding: 50px 0 60px 0;
    &__title {
      display: block;
      margin: 0 0 320px 0;
      font-size: 27px;
      line-height: 32px;
    }
    &__text {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 22px;
      br {
        display: none;
      }
    }
  }
  .g-form__info {
    margin-top: 20px;
  }
  .g-doctors {
    padding: 0 0 40px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 27px;
      line-height: 32px;
    }
    &__text {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .g-doctors .swiper-button-next,
  .g-doctors .swiper-button-prev {
    top: auto;
    left: auto;
    right: auto;
    bottom: 280px;
    background: #009eb4;
    img,
    svg {
      filter: brightness(0) invert(1);
    }
  }
  .g-about .swiper-button-next,
  .g-about .swiper-button-prev {
    background: #009eb4;
    img,
    svg {
      filter: brightness(0) invert(1);
    }
  }
  .g-doctors .swiper-button-prev {
    left: 5px;
  }
  .g-doctors .swiper-button-next {
    right: 5px;
  }
  .g-doctors-card {
    min-height: 450px;
  }
  .g-doctors-card__name {
    font-size: 20px;
    line-height: 23px;
  }
  .g-doctors-card__text {
    height: 66px;
    font-size: 16px;
    line-height: 22px;
  }
  .g-about {
    padding: 0 0 30px 0;
  }
  .g_first {
    order: -1;
  }
  .g-about__title {
    margin-bottom: 22px;
    font-size: 27px;
    line-height: 32px;
  }
  .g-about__text {
    margin: 0 0 5px 0;
    font-size: 20px;
    line-height: 27px;
  }
  .g-services {
    padding-bottom: 60px;
  }
  .g-services-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: auto;
    margin-bottom: 10px;
    padding: 20px;
  }
  .g-services-card__title {
    margin: 0 0 0 20px;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
  }
  .g-services-card__image {
    flex: 0 0 60px;
  }
  .g-reviews {
    padding: 0 0 100px 0;
  }
  .g-reviews__title {
    margin-bottom: 48px;
    font-size: 27px;
    line-height: 32px;
  }
  .g-reviews-card {
    padding-bottom: 60px;
  }
  .g-reviews-card__name {
    margin-left: 40px;
  }
  .g-reviews-card__date {
    margin-left: 40px;
  }
  .g-reviews-card__from {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
  }
  .g-reviews .swiper-button-next,
  .g-reviews .swiper-button-prev {
    top: auto;
    bottom: 90px;
  }
  .g-reviews .swiper-button-prev {
    right: 110px;
  }
  .g-reviews .swiper-button-next {
    right: 30px;
  }
  .g-bottom {
    padding: 0;
    &__title {
      margin-bottom: 490px;
      font-size: 27px;
      line-height: 32px;
    }
    &__block {
      margin-bottom: -20px;
    }
  }
  .g-footer {
    padding: 50px 0 40px 0;
  }
  .g-footer__social {
    justify-content: space-between;
  }
  .g-footer__social a {
    width: 60px;
    height: 60px;
    margin: 30px 0 0 0;
    img,
    svg {
      transform: scale(1.7);
    }
  }
  .g-footer__text {
    padding-top: 35px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
  }
  .g-top__title {
    max-width: 260px;
  }
  .g-features__title {
    font-size: 27px;
    line-height: 32px;
  }
  .g-form {
    background: url("../images/form_bg.png") no-repeat left calc(-25vw) top 0;
    background-size: 150% auto;
  }
  body {
    background: #f7f8f9 url("../images/mob_main_bg.svg") no-repeat center top 100px;
  }
  .g-doctors__cards {
    width: 100%;
    margin: 0;
    padding: 30px 0;
  }
}
